<!--header-->
<%- include('../partials/header'); %>

<body>
    
    <!--navbar-->
    <%- include('../partials/navbar'); %>

    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h4>Here you can find delecious foods that is made in your mess</h4>
                    <h2>Mess Resturant</h2>
                    <p>These Delicious food is made by our hardworking mess workers so please to make there hardwork work <strong>DO NOT WASTE THE FOOD</strong>.</p>
                    <div class="primary-button">
                        <a href="#" class="scroll-link" data-id="book-table">About us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services">

    </section>


    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <a href="/menu">
                        <img src="img/cook_breakfast.png" alt="Breakfast">
                        <h4>Breakfast</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <a href="/menu">
                        <img src="img/cook_lunch.png" alt="Lunch">
                        <h4>Lunch</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <a href="/menu">
                        <img src="img/cook_dessert.png" alt="Sancks">
                        <h4>Snacks</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <a href="/menu">
                        <img src="img/cook_dinner.png" alt="Dinner">
                        <h4>Dinner</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Forms -->
    <section id="con-scr" class="page-heading" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Complaint Box</h1>
                    <p>In this section you can fill the form about your issue and we will try to resolve it as soon as possible</p>
                    <p style="color:rgb(246, 255, 0);">Doing fake complaints will get you in trouble</p>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/forms'); %>

    <section id="book-table">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>About us</h2>
                        <p>This site is made by a 2nd year student of Tandon Hostel.<br>If you have any suggestion or complaints regarding this website I am open for that at: <strong>amanshankarsingh2001@gmail.com</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <%- include('../partials/footer'); %>