<!--header-->
<%- include("../partials/header"); %>


<!-- navbar -->
<body>
    <div class="header">
        <div class="container">
            <a href="#" class="navbar-brand scroll-top">Yum-Yum</a>
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/menu">Our-Menu</a></li>
                        <!-- <li><a href="/" class="con-link" data-id="con-scr">Complaint BOX</a></li> -->
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>


    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Menu</h1>
                    <p>This is the updated menu of the mess. If you have any complaints regarding mess realted work please head to <strong>Complaint Box</strong></p>
                </div>
            </div>
        </div>
    </section>


    <!-- Items List -->
    <%- include("../partials/items_list.ejs"); %>

    <!--footer-->
    <%- include("../partials/footer"); %>