<section class="breakfast-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="breakfast-menu-content">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="left-image">
                                <img src="img/breakfast_menu.jpg" alt="Breakfast">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h2>Breakfast Menu</h2>
                            <div id="owl-breakfast" class="owl-carousel owl-theme">
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/breakfast_item1.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Idli Sambhar</h4>
                                            <p>Served with Milk and Sprouts</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/breakfast_item2.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Chola Samosa</h4>
                                            <p>Served with Chutney, Tea and Sprouts</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/breakfast_item3.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Aaloo pyaz Paratha</h4>
                                            <p>Served with Coffee, Pickle and Sauce</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/breakfast_item4.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Vada Sambhar</h4>
                                            <p>Served with Milk and Sprouts</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/breakfast_item5.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Paneer Paranta</h4>
                                            <p>Served with Coffee, Sprouts, Milk and Pickle</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/breakfast_item6.jpeg" alt="">
                                        <div class="text-content">
                                            <h4>Sandwich And Daliya</h4>
                                            <p>Served with Sprouts and Sauce</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/breakfast_item7.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Poha and Jalebi</h4>
                                            <p>Served with Bournvita milk and Sprouts</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="lunch-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="lunch-menu-content">
                    <div class="row">
                        <div class="col-md-7">
                            <h2>Lunch Menu</h2>
                            <div id="owl-lunch" class="owl-carousel owl-theme">
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/lunch_item1.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Chole Bhature</h4>
                                            <p>Served with Rice, Chutney, Salad and Pickle</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/lunch_item2.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Kofta Roti</h4>
                                            <p>Served with Rice and Salad</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/lunch_item3.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Aaloo fry and Sewai</h4>
                                            <p>Served with Roti, Rice and Salad Dal</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/lunch_item4.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Kadhi and Aalo jeera</h4>
                                            <p>Served with Roti, Rice and Salad</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/lunch_item5.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Bhidi do Pyaza</h4>
                                            <p>Served with Roti, Rice, Salad and Gulab Jamun</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/lunch_item6.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Kadhai Paneer and Aaloo jeera</h4>
                                            <p>Served with Roti, Rice and Salad</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/lunch_item7.jpeg" alt="">
                                        <div class="text-content">
                                            <h4>Mix veg and Mix dal</h4>
                                            <p>Served with Roti, Rice, Sewai and Salad</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="left-image">
                                <img src="img/lunch_menu.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="breakfast-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="breakfast-menu-content">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="left-image">
                                <img src="img/snacks_menu.jpeg" alt="Snacks">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h2>Snacks Mneu</h2>
                            <div id="owl-snacks" class="owl-carousel owl-theme">
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/snacks_item1.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Friuts</h4>
                                            <p>Served with Bournvita Milk</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/snacks_item2.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Sandwich</h4>
                                            <p>Served with Coffee and Sauce</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/snacks_item3.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Poha</h4>
                                            <p>Served with Tea</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/snacks_item4.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Samosa</h4>
                                            <p>Served with Tea and Chutney</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/snacks_item5.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Bread Pakora</h4>
                                            <p>Served with Sauce and tea</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/snacks_item6.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Chowmin</h4>
                                            <p>Served with Sauce</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="dinner-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="dinner-menu-content">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="left-image">
                                <img src="img/dinner_menu.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h2>Dinner Menu</h2>
                            <div id="owl-dinner" class="owl-carousel owl-theme">
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/dinner_item1.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Rajma</h4>
                                            <p>Served with Roti, Rice, Custard and Salad</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/dinner_item2.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Aaloo Gobhi Matar</h4>
                                            <p>Served with Palak Poori, Rice, Kheer, Pickle and Salad</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        
                                        <img src="img/dinner_item3.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Matar Paneer</h4>
                                            <p>Served with Roti, Rice, Gulab Jamun and Salad</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/dinner_item4.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Malai Kofta</h4>
                                            <p>Served with Roti, Rice, Moong dal Halwa and Salad</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/dinner_item5.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Litti Chokha</h4>
                                            <p>Served with Dal Fry, Rabdi and Salad</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/dinner_item6.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Fried Rice</h4>
                                            <p>Served with Papad, Boondi Raita, Pickle and Salad</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <img src="img/dinner_item7.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Mushroom Matar</h4>
                                            <p>Served with Bhindi do Pyaza, Sewai, Roti, Rice and Salad</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>